
<!--//////////////////////////////////////////////////
Author:         Minh-Chung HOANG
Email:          MINHCHUN001@e.ntu.edu.sg
Last modified:  Wed 4th Jul 16
//////////////////////////////////////////////////-->

<launch>
    <!-- ********** DETECTION ********** -->

    <include file="$(find robotx_vision)/launch/hole_roi.launch">
        <arg name="namespace"   value="gun_cam"/>
        <arg name="debug"       value="false"/>
    </include>

    <include file="$(find robotx_vision)/launch/detection_roi.launch">
        <arg name="node_name"   value="f_cam_totem_red"/>
        <arg name="namespace"   value="fixed_cam"/>
        <arg name="object"      value="totem"/>
        <arg name="color"       value="red"/>
        <arg name="debug"       value="false"/>
    </include>

    <include file="$(find robotx_vision)/launch/detection_roi.launch">
        <arg name="node_name"   value="pt_cam_totem_red"/>
        <arg name="namespace"   value="pan_tilt_cam"/>
        <arg name="object"      value="totem"/>
        <arg name="color"       value="red"/>
        <arg name="debug"       value="false"/>
    </include>

    <include file="$(find robotx_vision)/launch/detection_roi.launch">
        <arg name="node_name"   value="f_cam_totem_green"/>
        <arg name="namespace"   value="fixed_cam"/>
        <arg name="object"      value="totem"/>
        <arg name="color"       value="green"/>
        <arg name="debug"       value="false"/>
    </include>

    <include file="$(find robotx_vision)/launch/detection_roi.launch">
        <arg name="node_name"   value="pt_cam_totem_green"/>
        <arg name="namespace"   value="pan_tilt_cam"/>
        <arg name="object"      value="totem"/>
        <arg name="color"       value="green"/>
        <arg name="debug"       value="false"/>
    </include>    

    <include file="$(find robotx_vision)/launch/detection_roi.launch">
        <arg name="node_name"   value="f_cam_circle_red"/>
        <arg name="namespace"   value="fixed_cam"/>
        <arg name="object"      value="circle"/>
        <arg name="color"       value="red"/>
        <arg name="debug"       value="false"/>
    </include>

    <include file="$(find robotx_vision)/launch/detection_roi.launch">
        <arg name="node_name"   value="pt_cam_circle_red"/>
        <arg name="namespace"   value="pan_tilt_cam"/>
        <arg name="object"      value="circle"/>
        <arg name="color"       value="red"/>
        <arg name="debug"       value="false"/>
    </include>    
    <include file="$(find robotx_vision)/launch/detection_roi.launch">
        <arg name="node_name"   value="f_cam_triangle_green"/>
        <arg name="namespace"   value="fixed_cam"/>
        <arg name="object"      value="triangle"/>
        <arg name="color"       value="green"/>
        <arg name="debug"       value="false"/>
    </include>

    <include file="$(find robotx_vision)/launch/detection_roi.launch">
        <arg name="node_name"   value="pt_cam_triangle_green"/>
        <arg name="namespace"   value="pan_tilt_cam"/>
        <arg name="object"      value="triangle"/>
        <arg name="color"       value="green"/>
        <arg name="debug"       value="false"/>
    </include>    
    <include file="$(find robotx_vision)/launch/detection_roi.launch">
        <arg name="node_name"   value="f_cam_cruciform_blue"/>
        <arg name="namespace"   value="fixed_cam"/>
        <arg name="object"      value="cruciform"/>
        <arg name="color"       value="blue"/>
        <arg name="debug"       value="false"/>
    </include>

    <include file="$(find robotx_vision)/launch/detection_roi.launch">
        <arg name="node_name"   value="pt_cam_cruciform_blue"/>
        <arg name="namespace"   value="pan_tilt_cam"/>
        <arg name="object"      value="cruciform"/>
        <arg name="color"       value="blue"/>
        <arg name="debug"       value="false"/>
    </include>    

    <node name="f_cam_detector" pkg="map_test" type="object_detector"
        output="screen">
        <param name="cam_frame_name" value="fixed_cam"/>
        <param name="cam_namespace" value="fixed_cam"/>
    
        <param name="object_1" value="totem"/>
        <param name="color_1" value="red"/>

        <param name="object_2" value="cruciform"/>
        <param name="color_2" value="blue"/>

        <param name="object_3" value="totem"/>    
        <param name="color_3" value="green"/>
        
        <param name="object_4" value="circle"/>    
        <param name="color_4" value="red"/>
        
        <param name="object_5" value="triangle"/>    
        <param name="color_5" value="green"/>

        <param name="object_6" value="cruciform"/>
        <param name="color_6" value="blue"/>
    </node>

    <node name="pt_cam_detector" pkg="map_test" type="object_detector"
        output="screen">
        <param name="cam_frame_name" value="pan_tilt_cam"/>
        <param name="cam_namespace" value="pan_tilt_cam"/>
    
        <param name="object_1" value="totem"/>
        <param name="color_1" value="red"/>

        <param name="object_2" value="cruciform"/>
        <param name="color_2" value="blue"/>

        <param name="object_3" value="totem"/>    
        <param name="color_3" value="green"/>
        
        <param name="object_4" value="circle"/>    
        <param name="color_4" value="red"/>
        
        <param name="object_5" value="triangle"/>    
        <param name="color_5" value="green"/>

        <param name="object_6" value="cruciform"/>
        <param name="color_6" value="blue"/>
    </node>

    <!-- ********** MARKER MANAGER ********** -->
    <node pkg="map_test" type="object_orientation_publisher" name="object_orientation_publisher"
        respawn="true"/>

    <node pkg="map_test" type="object_manager_2" name="object_manager"
        output="screen"/>
</launch>